In [1]:
#1 ¿Qué BBDD tenemos en nuestro servidor?

import mysql.connector

try:
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='sys')
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")



print(cnx)
cnx.close()

print('Llamo a la BBDD "sys" porque ese es el nombre de mi Northwind (no sé por qué)')

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f291d2573d0>
Llamo a la BBDD "sys" porque ese es el nombre de mi Northwind (no sé por qué)

In [2]:
#2 Empecemos a explorar Northwind. ¿Qué tablas componen la BBDD? Guarda el resultado en una lista.

mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='sys')

mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")

tablas = []

# Creamos una lista usando list(), dado que originalmente nos salía una tupla.

for i in mycursor:
    tablas = list(i)
    print(tablas)

print(type(tablas))

cnx.close()

['categories']
['clientes']
['customer_customer_demo']
['customer_demographics']
['customers']
['empleados']
['employee_territories']
['employees']
['facturas']
['host_summary']
['host_summary_by_file_io']
['host_summary_by_file_io_type']
['host_summary_by_stages']
['host_summary_by_statement_latency']
['host_summary_by_statement_type']
['innodb_buffer_stats_by_schema']
['innodb_buffer_stats_by_table']
['innodb_lock_waits']
['io_by_thread_by_latency']
['io_global_by_file_by_bytes']
['io_global_by_file_by_latency']
['io_global_by_wait_by_bytes']
['io_global_by_wait_by_latency']
['latest_file_io']
['memory_by_host_by_current_bytes']
['memory_by_thread_by_current_bytes']
['memory_by_user_by_current_bytes']
['memory_global_by_current_bytes']
['memory_global_total']
['metrics']
['order_details']
['orders']
['processlist']
['products']
['ps_check_lost_instrumentation']
['region']
['schema_auto_increment_columns']
['schema_index_statistics']
['schema_object_overview']
['schema_redundant_indexes']
['schema_table_lock_waits']
['schema_table_statistics']
['schema_table_statistics_with_buffer']
['schema_tables_with_full_table_scans']
['schema_unused_indexes']
['session']
['session_ssl_status']
['shippers']
['statement_analysis']
['statements_with_errors_or_warnings']
['statements_with_full_table_scans']
['statements_with_runtimes_in_95th_percentile']
['statements_with_sorting']
['statements_with_temp_tables']
['suppliers']
['sys_config']
['territories']
['user_summary']
['user_summary_by_file_io']
['user_summary_by_file_io_type']
['user_summary_by_stages']
['user_summary_by_statement_latency']
['user_summary_by_statement_type']
['version']
['wait_classes_global_by_avg_latency']
['wait_classes_global_by_latency']
['waits_by_host_by_latency']
['waits_by_user_by_latency']
['waits_global_by_latency']
['x$host_summary']
['x$host_summary_by_file_io']
['x$host_summary_by_file_io_type']
['x$host_summary_by_stages']
['x$host_summary_by_statement_latency']
['x$host_summary_by_statement_type']
['x$innodb_buffer_stats_by_schema']
['x$innodb_buffer_stats_by_table']
['x$innodb_lock_waits']
['x$io_by_thread_by_latency']
['x$io_global_by_file_by_bytes']
['x$io_global_by_file_by_latency']
['x$io_global_by_wait_by_bytes']
['x$io_global_by_wait_by_latency']
['x$latest_file_io']
['x$memory_by_host_by_current_bytes']
['x$memory_by_thread_by_current_bytes']
['x$memory_by_user_by_current_bytes']
['x$memory_global_by_current_bytes']
['x$memory_global_total']
['x$processlist']
['x$ps_digest_95th_percentile_by_avg_us']
['x$ps_digest_avg_latency_distribution']
['x$ps_schema_table_statistics_io']
['x$schema_flattened_keys']
['x$schema_index_statistics']
['x$schema_table_lock_waits']
['x$schema_table_statistics']
['x$schema_table_statistics_with_buffer']
['x$schema_tables_with_full_table_scans']
['x$session']
['x$statement_analysis']
['x$statements_with_errors_or_warnings']
['x$statements_with_full_table_scans']
['x$statements_with_runtimes_in_95th_percentile']
['x$statements_with_sorting']
['x$statements_with_temp_tables']
['x$user_summary']
['x$user_summary_by_file_io']
['x$user_summary_by_file_io_type']
['x$user_summary_by_stages']
['x$user_summary_by_statement_latency']
['x$user_summary_by_statement_type']
['x$wait_classes_global_by_avg_latency']
['x$wait_classes_global_by_latency']
['x$waits_by_host_by_latency']
['x$waits_by_user_by_latency']
['x$waits_global_by_latency']
['zapatilla']
<class 'list'>

In [3]:
#3 ¿Qué columnas tiene cada una de la tablas? Haced un for loop para que nos saque el resultado.

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="INFORMATION_SCHEMA")

mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'orders'")

In [4]:
#4 Hagamos la siguientes querys:
#  El pedido donde se ha gastado más (id_pedido + cantidad gastada)
#  La misma query que en el ejercicio anterior, pero que devuelva todos los resutados
#  El número de pedidos que se hayan hecho por día. Que devuelva los resutados en una dataframe.
#  Extraer los pedidos hechos por "Nancy Daviolo". Hay que hacer una subquery.

#  El pedido donde se ha gastado más (id_pedido + cantidad gastada):

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="sys")


mycursor = mydb.cursor()
mycursor.execute("""SELECT order_details.unit_price, order_details.order_id FROM orders
RIGHT JOIN order_details ON orders.order_id = order_details.order_id ORDER BY unit_price""")
myresult = mycursor.fetchone()
print('El pedido que se ha gastado más es:', myresult)

El pedido que se ha gastado más es: (2.0, 10252)

In [5]:
#  La misma query que en el ejercicio anterior, pero que devuelva todos los resutados:

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="sys")


mycursor = mydb.cursor()
mycursor.execute("""SELECT order_id, (quantity * unit_price)
            FROM order_details
            ORDER BY (quantity * unit_price) DESC""")
myresult = mycursor.fetchall()

print('Todos los resultados son:', myresult[:11], '... etcétera.')

Todos los resultados son: [(10865, 15810.0), (10981, 15810.0), (10353, 10540.0), (10417, 10540.0), (10889, 10540.0), (10424, 10329.2), (10897, 9903.2), (10372, 8432.0), (10540, 7905.0), (10816, 7905.0), (10817, 7905.0)] ... etcétera.

In [7]:
#  El número de pedidos que se hayan hecho por día. Que devuelva los resutados en una dataframe.

import pandas as pd

cnx = mysql.connector.connect(
  user='root', password='AlumnaAdalab',
  host='127.0.0.1',
  database='sys')

mycursor = cnx.cursor()

mycursor.execute("""SELECT order_date, count(distinct order_id)
            FROM orders
            GROUP BY order_date""")

myresult = mycursor.fetchall()

dataframe1 = pd.DataFrame(myresult, columns = ['Fecha', 'NumeroPedidos'])
print(dataframe1)

         Fecha  NumeroPedidos
0   1996-07-04              1
1   1996-07-05              1
2   1996-07-08              2
3   1996-07-09              1
4   1996-07-10              1
..         ...            ...
475 1998-04-30              4
476 1998-05-01              3
477 1998-05-04              3
478 1998-05-05              4
479 1998-05-06              4

[480 rows x 2 columns]

In [8]:
#  Extraer los pedidos hechos por "Nancy Daviolo". Hay que hacer una subquery.

cnx = mysql.connector.connect(
  user='root', password='AlumnaAdalab',
  host='127.0.0.1',
  database='sys')

mycursor = cnx.cursor()

mycursor.execute("""SELECT order_id, customer_id
            FROM orders
            WHERE employee_id IN(
		                SELECT first_name = 'Nancy' AND last_name = 'Davolio'
                    FROM employees);""")

myresult = mycursor.fetchall()

dataframe2 = pd.DataFrame(myresult, columns = ['NumeroPedido', 'NumeroCliente'])
print (dataframe2)

     NumeroPedido NumeroCliente
0           10258         ERNSH
1           10270         WARTH
2           10275         MAGAA
3           10285         QUICK
4           10292         TRADH
..            ...           ...
118         11064         SAVEA
119         11067         DRACD
120         11069         TORTU
121         11071         LILAS
122         11077         RATTC

[123 rows x 2 columns]

In [9]:
#5 Desconectad la conexión con el servidor.

In [ ]:
mycursor.close()
mydb.close()