In [ ]:
pairprogramming_python_sql_2

In [1]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python

In [2]:
def crear_tabla_sql(contraseña, query): 

    cnx = mysql.connector.connect(user='root', password = contraseña ,
                                host='127.0.0.1', database ='mi_primerita_BBDD_Python')


    mycursor = cnx.cursor()

    try:
        mycursor.execute(query)
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

    mycursor.close()
    cnx.close()

In [3]:
query_tabla_zapatillas = ("""CREATE TABLE Tabla_Zapatillas 
                            (id_zapatilla INT NOT NULL AUTO_INCREMENT PRIMARY KEY, 
                            modelo VARCHAR(45) NOT NULL,
                            color VARCHAR(45) NOT NULL, 
                            talla INT NOT NULL)""")

crear_tabla_sql('AlumnaAdalab', query_tabla_zapatillas)

CMySQLCursor: CREATE TABLE Tabla_Zapatillas
         ..

In [4]:
query_tabla_clientes = ("""CREATE TABLE tabla_clientes (
                            id_cliente INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
                            nombre VARCHAR(45) NOT NULL ,
                            numero_telefono INT(9) NOT NULL , 
                            email  VARCHAR(45) NOT NULL , 
                            direccion VARCHAR(45) NOT NULL , 
                            ciudad VARCHAR(45) DEFAULT NULL , 
                            provincia VARCHAR(45) NOT NULL , 
                            pais VARCHAR(45) NOT NULL , 
                            codigo_postal INT(45) NOT NULL)""")

crear_tabla_sql('AlumnaAdalab', query_tabla_clientes)

CMySQLCursor: CREATE TABLE tabla_clientes (
          ..

In [5]:
query_tabla_empleados = ("""CREATE TABLE tabla_empleados (
                            id_empleado INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
                            nombre VARCHAR(45) NOT NULL , 
                            tienda VARCHAR(45) NOT NULL , 
                            salario INT DEFAULT NULL , 
                            fecha_incorporacion DATE NOT NULL
                            )""")

crear_tabla_sql('AlumnaAdalab', query_tabla_empleados)

CMySQLCursor: CREATE TABLE tabla_empleados (
         ..

In [6]:
query_tabla_facturas = ("""CREATE TABLE IF NOT EXISTS `tabla_facturas` (
                            id_factura INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
                            numero_factura INT(45) NOT NULL ,
                            fecha DATE NOT NULL ,
                            id_zapatilla INT NOT NULL ,
                            id_empleado INT NOT NULL ,
                            id_cliente INT NOT NULL , 
                            CONSTRAINT fk_tabla_facturas_tabla_zapatillas
                            FOREIGN KEY (id_zapatilla)
                            REFERENCES tabla_zapatillas (id_zapatilla),
                            CONSTRAINT fk_tabla_facturas_tabla_empleado
                            FOREIGN KEY (id_empleado)
                            REFERENCES tabla_empleados (id_empleado),
                            CONSTRAINT fk_tabla_facturas_tabla_cliente
                            FOREIGN KEY (id_cliente)
                            REFERENCES tabla_clientes (id_cliente)
                            )""")

crear_tabla_sql('AlumnaAdalab', query_tabla_facturas)

1824 (HY000): Failed to open the referenced table 'tabla_zapatillas'
Error Code: 1824
SQLSTATE HY000
Message Failed to open the referenced table 'tabla_zapatillas'